@keyframes moveHand {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes movePikachu {
	0% {
		transform: skew(0deg) rotate(0deg);
	}
	50% {
		transform: skew(-3deg) rotate(-3deg);
	}
	100% {
		transform: skew(0deg) rotate(0deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes showAnime {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes changeOfSizeDot {
	from {
		transform: scale(0.001);
	}
	to {
		transform: scale(1);
	}
}

@keyframes movementDot {
	to {
		transform: translateX(1.5em);
	}
}
