$darkText: #1c1c1c;
$lightText: #dcdcdc;
$accentText: #ff9905;
$darkBg: #1e1f29;
$lightBg: #e4e4be;
$lightenDarkBg: lighten(#1e1f29, 25%);
$darkenLightBg: darken(#e4e4be, 15%);
$accentBg: linear-gradient(to right, #f7d000, #f37021);

$mainFSize: 16;
